input[type=radio]{
    display: none;
}
.placeholder{
    display: grid;
    height: 32rem;
    justify-items: center;
    align-items: center;
}
.card{
    position: absolute;
    display: grid;
    transition: 0.5s ease-in-out;
}
#item-3:checked{
    ~.placeholder #second{
        opacity: 0.8;
        transform: translateX(-50%) scale(0.8) translateY(-15%);
        z-index: 0;
        rotate: -25deg;
    }
    ~.placeholder #first{
        opacity: 0.8;
        transform: translateX(50%) scale(0.8) translateY(-15%);
        z-index: 0;
        rotate: 25deg;
    }
    ~.placeholder #first:hover{
        rotate: 15deg !important;
    }
    ~.placeholder #second:hover{
        rotate: -15deg !important;
    }
    ~.placeholder #third{
        opacity: 1;
        z-index: 1;
        .selected:hover{
            opacity: 1;
            scale: 1.1;
            transition: 0.4s ease;
        }
    }    

}
#item-2:checked{
    ~.placeholder #second{
        opacity: 1;
        z-index: 1;
        .selected{
            opacity: 1;
        }
    }
    ~.placeholder #third{
        transform: translateX(50%) scale(0.8) translateY(-15%);
        opacity: 0.8;
        z-index: 0;
        rotate: 25deg;
    }
    ~.placeholder #first{
        transform: translateX(-50%) scale(0.8) translateY(-15%);
        opacity: 0.8;
        z-index: 0;
        rotate: -25deg;
    }
    ~.placeholder #first:hover{
        rotate: -15deg !important;
    }
    ~.placeholder #third:hover{
        rotate: 15deg !important;
    }
}
#item-1:checked{
    ~.placeholder #first{
        opacity: 1;
        z-index: 1;
        rotate: none;
        .selected{
            opacity: 1;
        }
    }
    ~.placeholder #second{
        transform: translateX(50%) scale(0.8) translateY(-15%);
        opacity: 0.8;
        z-index: 0;
        rotate: 25deg;
    }
    ~.placeholder #third{
        transform: translateX(-50%) scale(0.8) translateY(-15%);
        opacity: 0.8;
        z-index: 0;
        rotate: -25deg;
    }
    ~.placeholder #third:hover{
        rotate: -15deg !important;
    }
    ~.placeholder #second:hover{
        rotate: 15deg !important;
    }
}

