:root {
  	--header-blue: #007bff;
  	--light-shade: #669cff; 
	--dark-shade: #0062cc;
	--blue-deep: #071952;
	--blue-dark: #088395;
	--blue-light: #37B7C3;
	--blue-white: #EBF4F6;
	--kinda-gray: #083544;
    --purple-base:rgb(110, 0, 110);
    --purple-text: rgb(100, 50, 100);
    --purple-pink: rgb(197, 140, 197);
    --purple-button: rgb(215 141 215);
}
@font-face {
    font-family: komika-italic;
    src: url("./misc/KOMTITP.woff");
}
body {
	display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100svh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b14688;
    background-image: url("./images/blue-red-landscape.avif");
    background-size: cover;
	justify-content: end;
	color: var(--purple-text);
    background-attachment: fixed;
}
.page{
	background-color: var(--blue-white);
	padding: 1.2rem;
	border-radius: 1rem;
    margin-bottom: 0.8rem;
}
header {
    display: grid;
    grid-template-columns: auto auto auto;
    color: var(--purple-base);
    text-align: center;
    
}
#logo{
    width: 150px;
    background-color: white;
    background-size: contain;
    background-position-y: center;
    background-image: url("./images/LOGO-200px.jpg");
    background-repeat: no-repeat;
    border-bottom-right-radius: 25%;
    box-shadow: 4px 2px 5px rgba(0,0,0,0.1);
}
#box3{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header h1{
    background-color: white;
    align-content: center;
    padding: 1.2rem;
    margin: 0px;
    box-shadow: 4px 2px 5px rgba(0,0,0,0.1);
}

header h2{
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}
main {
    display: grid;
    padding: 1.5em;
    text-align: center;
}
.services {
    display: grid;
    justify-content: center;
    gap: 1em;
}
.services h1{
    /* grid-column: 1 / span 3; */
    margin: 0;
}
.service {
    display: grid;
    grid-template-columns: subgrid;
    background-color: white;
    padding: 0 1.5rem 0 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
    
    ul{
        list-style-type: circle;
        text-align: left;
    }
    #number{
        font-size: 2em;
        font-family: komika-italic;
    }
    #text{
        font-size: small;
        color: var(--purple-pink);
    }
    #apps{
        font-size: 10px;
        img{
            width: 22px;
            padding-bottom: 10px;
        }
    }
    #price{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        p{
            grid-column: 1 /span 3;
            text-align: left;
            font-size: 12px;
        }
        #number{
            font-size: 3em;
            position: relative;
            top:-20px;
        }
        #cifrao{
            color: var(--purple-pink);
            font-size: 12px;
            font-weight: bold;
        }
        #cents{
            font-weight: bold;
            font-style: italic;
            display: grid;
            align-items: center;
        }
    }  
    .border-top{
        border-top: dotted;
        border-width: 3px;
        width: 80%;
        justify-self: center;
    }
}
.service:hover {
    background-color: #e1f5fe;
}
.selected{
    opacity: 0.7;
    background-image: url("./images/selected-icon/whatsapp-svgrepo-com.svg");
    background-color: pink;
    background-size: 1.5rem;
    padding-bottom: 2rem;
    width: 50%;
    margin-bottom: 0.5rem;
    border-radius: 0.7rem;
    justify-self: center;
    background-repeat: no-repeat;
    background-position: center;
}
.service h1 {
    display: grid;
    grid-template-columns: auto auto;
    color: var(--purple-base);
    font-size: 3rem;
    font-family: komika-italic;
    margin-top: 0;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
}
.service h1::first-letter {
    font-size: 1.3em;
    vertical-align: top;
}

.about-us {
    display: grid;
    align-items: start;
    grid-template-columns: auto auto;
    text-align: justify;
    margin-top: 1em;
    padding: 2rem 2rem;
    justify-items: center;

    div{
        display: grid;
        justify-items: center;
    }

    img{
        height: 20rem;
        width: auto;
        grid-area: span 2;
        border-radius: 1rem;
    }
    h1{
        margin: 0;
    }
    p{
        margin: 2rem;
    }
}

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #563475;
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    img{
        width: 60px;
        filter:invert(85%) sepia(100%) grayscale(100%) brightness(300%) contrast(100%);
        opacity: 0.5;
    }
}

.button {
    background-image: linear-gradient(to bottom right, var(--purple-pink), var(--purple-base));
    color: var(--blue-white);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px 10px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    font-size: 20px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.button:hover {
    scale: 1.01;
    background-image: linear-gradient(to bottom right, var(--purple-button), var(--purple-base));
}

@media (max-width: 600px) {
    body{
        margin-bottom:3rem;
        background-image: url("./images/blue-red.avif");
        background-position: bottom;
    }
    main{
        padding: 0.8em;
    }
    .placeholder{
        height: 21rem !important;
    }
    .services {
        grid-auto-flow: row;
        align-items: center;
        gap: 0;
    }
    .services h1{
        grid-column: 1;
    }
    header h1{
        font-size: medium;
        padding: 0 .5rem 0 1.0rem;
    }
    #logo{
        width: 25svw;
    }
    .card{
        scale: 0.65;
    }
    .service{
        padding: 0;
    }
    #item-3:checked{
        ~.placeholder #second{
            transform: translateX(-30%) scale(0.8) translateY(-10%) !important;
            rotate: -8deg !important;
        }
        ~.placeholder #first{
            transform: translateX(30%) scale(0.8) translateY(-10%) !important;
            rotate: 8deg !important;
        }
    }
    #item-2:checked{
        ~.placeholder #first{
            transform: translateX(-30%) scale(0.8) translateY(-10%) !important;
            rotate: -8deg !important;
        }
        ~.placeholder #third{
            transform: translateX(30%) scale(0.8) translateY(-10%) !important;
            rotate: 8deg !important;
        }
    }
    #item-1:checked{
        ~.placeholder #third{
            transform: translateX(-30%) scale(0.8) translateY(-10%) !important;
            rotate: -8deg !important;
        }
        ~.placeholder #second{
            transform: translateX(30%) scale(0.8) translateY(-10%) !important;
            rotate: 8deg !important;
        }
    }
    .page{
        margin-bottom: 0;
    }
    .button{
        font-size: 0.8rem;
        margin:.4rem .4rem 0 .4rem;
        padding: .3rem .3rem;
        border-radius: 1.2rem;
    }
    .about-us{
        padding: 0.7rem 0.7rem;
        align-items: center;
        p{
            display: grid;
            grid-template-columns: subgrid;
            font-size: .8rem;
            margin: 1rem;
        }
        img{
            max-width: 100px;
        }
    }
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: lightblue; /* Change the track color to light blue */
}

::-webkit-scrollbar-thumb {
    background: var(--light-shade); /* 30% opacity of blue */
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark-shade);/* 50% opacity of blue on hover */
}